body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url('/fonts/header-bg.jpg');*/
  background-size: cover;
  /*color: white;*/
  text-align: center;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1#title{
  font-weight: bold;
  font-size: 60px;
  color:#4040a1;
}

.content {
  max-width: 500px;
  margin: auto;
}

.container th, td{
  text-align: center;
}

.buttonMain{
  background-color: #4040a1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;

}

.buttonSecondary {
  background-color: #4285F4;
  border: none;
  color: white;
  padding: 7px 22px;
  text-decoration: none;
  display: inline-block;
  margin: 20px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.left {
  float: left;
}

.buttonIcon {
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.buttonGreen:hover {
  background-color: #318F4A;
}

.buttonGreen {
  background-color: #34A853;
}

.buttonGrey {
  background-color: #555555;
}

.buttonRed {
  background-color: #EA4335;
}

.buttonOrange {
  background-color: #c6852b;
}
#imgMain{
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 50px;
}
